---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
---

<Layout title="Daniel Villavicencio | Diseño y desarrollo web">
	<main>
		<SectionContainer id="top" class="py-44 pb-22">
			<img class="w-72 h-72" src="persona-dev.png" alt="Daniel" />
			<div class="flex flex-col justify-center">
				<h1 class="text-white text-5xl font-bold flex justify-center flex-row">Hola, soy Daniel <div class="flex items-center ps-2"> <Badge>Disponible para trabajar</Badge></div></h1>
				<p class="text-white text-xl">
					Técnico en Diseño y Desarrollador web <br />Me gustaría
					especializarme en el desarrollo backend, enfocándome en
					resolver problemas de código y ayudando a otros en el
					proceso.
				</p>
				<div class="flex flex-row">
					<nav>
						<SocialPill>
							<LinkedIn href="https://www.linkedin.com/in/danielvill/" class="w-6 h-6" />
							LinkedIn
						</SocialPill>
					</nav>
				</div>
			</div>
		</SectionContainer>
		<Experience>
			<ExperienceItem></ExperienceItem>
		</Experience>
		<SectionContainer id="proyectos">
			<h2 class="text-white text-3xl font-bold flex justify-center flex-row">Proyectos</h2>
		</SectionContainer>
	</main>
</Layout>
