---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    //ADD EXPERIENCE IN THIS ARRAY
    {
        date: "Febrero 2024",
        title: "Desarrollo web full stack",
        description:
            'Encargado de diseñar y desarrollar un sistema interno de formularios para la gestión y almacenamiento de la información relacionada con inspecciones. Este sistema fue diseñado para satisfacer las necesidades específicas de los especialistas en sanidad, asegurando que los datos recopilados fueran precisos y fácilmente accesibles cumpliendo con los requerimientos técnicos y operativos establecidos.',
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
